<!DOCTYPE html>
<html>
    <link>
        <title>Tic Tac Toe</title>
        <link rel="stylesheet" href="../static/styles.css"></link>

    </head>
    <body>
        <div class="container">
            {% if winner !=None%}
            <h2> Congratulations Winner!!: {{winner}}</h2>
            {% endif %}
        <table>
            {% for i in range(3) %}
                <tr>
                    {% for j in range(3) %}
                        <td>
                            {% if game[i][j] != "_" %}
                                <section class="glow-on-hover">{{ game[i][j] }}</section>
                            {% else %}
                                <div id="btn" ><a href="{{ url_for('play', row=i, col=j) }}"><div>.</div></a></div>
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <form action="/reset" method="post">
            <button type="submit"  class="glow-on-hover-btn glow-on-hover" >Play Again</button>
        </form>
    </div>
    <script type="text/javascript" src="{{url_for('static', filename='index.js')}}"></script>

    </body>
</html>